.container {
  width: 100%;
  display: flex;
  border-radius: 10px;
  border: 1px solid #E7E7E7;
  background: white;
  padding: 10px 0px;

  .HTMLinput {
    width: 100%;
    outline: none;
    border: none;
    font-family: 'Lexend', sans-serif;
    padding: 0px 0px 0px 10px;
    background: white;
    
  }

  .switch {
    // put the switch to the background in the Z axis
    z-index: 0;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    margin-right: 10px;

    &.on {
      background-color: var(--blue);
    }

    input[type='checkbox'] {
      opacity: 0;
      width: 0;
      height: 0;
      border-radius: 20px;
    }

    .switchLabel {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #DCDCDE;
      transition: background-color 0.3s ease;
      border-radius: 20px;

      &::before {
        position: absolute;
        content: '';
        height: 15px;
        width: 15px;
        left: 2px;
        top: 2px;
        bottom: 4px;
        background-color: white;
        transition: transform 0.3s ease;
        border-radius: 20px;
      }
    }

    input[type='checkbox']:checked + .switchLabel {
      background-color: var(--blue);
      border-radius: 20px;

      &::before {
        transform: translateX(23px);
        border-radius: 20px;
      }
    }

    .switchInner {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      height: 100%;
      width: 100%;
      transition: transform 0.3s ease;
      border-radius: 20px;
    }

    input[type='checkbox']:checked + .switchLabel .switchInner {
      transform: translateX(-23px);
      border-radius: 20px;
    }

    .switchToggle {
      position: absolute;
      top: 2px;
      left: 2px;
      height: 15px;
      width: 15px;
      background-color: white;
      transition: transform 0.3s ease;
      border-radius: 20px;
    }

    input[type='checkbox']:checked + .switchLabel .switchToggle {
      transform: translateX(23px);
    }
  }
}