.container {
  width: 240px;
  height: 100%;
  padding: 28px;

  .category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 6px;
    border: 1px solid #e7e7e7;
    padding: 8px 0px;
    transition: 0.3s;

    .text {
      font-size: 16px;
      font-style: normal;
      font-weight: 475;
      line-height: 20px;
      letter-spacing: -0.05px;
      color: var(--blue);
    }

    &:hover {
      cursor: pointer;
      background: rgb(228, 228, 228);
    }
  }

  .filtersContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

    .title {
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: -0.05px;
    }

    .productType {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .title {
        color: #0a090b;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.05px;
      }

      .option {
        display: flex;
        gap: 7px;
        align-items: center;
        margin-left: 12px;
        font-family: Inter;
        color: #666e7e;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        .checkbox {
          margin-top: 4px;
        }
      }
    }

    .sliderContainer {
      margin-top: -15px;
      text-align: end;

      input[type="range"] {
        width: 100%;

        &::-webkit-slider-runnable-track {
          width: 100%;
          height: 5px;
          background-color: var(--blue);
          border-radius: 10px;
        }

        &::-webkit-slider-thumb {
          width: 20px;
          height: 20px;
          transform: translateY(-5px);
        }
      }

      .value {
        color: #666E7E;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}