.container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--blue);
  color: white;
  padding: 0px 35px 0px 35px;

  .logo {
    transform: scale(1.05);
    transition: 0.4s;

    &:hover {
      cursor: pointer;
      filter: brightness(0.77);
    }
  }

  .optionsContainer {
    display: flex;
    gap: 34px;

    .option {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        filter: brightness(0.8);
      }
    }

    .selectedOption {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      transition: 0.2s;
      border-bottom: 2px solid white;
      padding-bottom: 3px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .searchBar {
    width: 596px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 8px;
    align-items: center;
    padding: 0px 14px 0px 0px;

    .image {
      &:hover {
        cursor: pointer;
      }
    }

    .HTMLinput {
      width: 95%;
      height: 100%;
      border-radius: 8px;
      outline: none;
      border: none;
      padding: 0px 0px 0px 5px;
      font-family: 'Inter', sans-serif;
    }
  }

  .userContainer {
    display: flex;
    align-items: center;
    gap: 30px;

    .cart {
      transition: 0.3s;

      &:hover {
        filter: brightness(0.8);
        cursor: pointer;
      }
    }

    .profile {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;

      .photo {
        cursor: pointer;
      }

      .infoContainer {
        display: flex;
        flex-direction: column;

        .name {
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: -0.05px;
        }

        .points {
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;
        }
      }
    }

    .dropdownContainer {
      width: 150px;
      height: 160px;
      position: absolute;
      display: flex;
      flex-direction: column;
      margin-top: 210px;
      margin-left: 40px;
      border-radius: 8px;
      color: black;
      border: 1px solid #ECECED;
      background: #FFF;
      padding: 8px;
      box-shadow: 0px 2px 4px -1px rgba(10, 9, 11, 0.02), 0px 5px 13px -5px rgba(10, 9, 11, 0.05);

      .option {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px 4px 10px 4px;
        border-radius: 6px;

        &:last-child {
          .image {
            margin-top: 4px;
            transform: scale(1.3);
          }
        }

        &:hover {
          background: var(--hover);
          cursor: pointer;

          .text {
            color: var(--blue);
          }
        }

        .text {
          font-size: 14px;
          font-style: normal;
          font-weight: 475;
          line-height: 20px;
          letter-spacing: -0.05px;
        }
      }

      .line {
        width: 100%;
        height: 1px;
        background: var(--line);
        margin: 5px 0px 4px 0px;
      }
    }
  }
}