@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --blue: #2C1DFE;
  --gray: #4F4D55;
  --lightgray: #DCDCDE;
  --green: #00FC97;
  --FFD703: #FBBC04;
  --red: #FF4736;
  --line: #F1F1F1;
  --border: #E6E6E6;
  --hover: #F8F8F8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Lexend', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #ffffff
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 5px;
}