.container {
  width: 100%;
  height: 100vh;
  display: flex;

  .leftSide {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logoContainer {
      width: 100%;
      height: 8vh;
      display: flex;
      align-items: center;
      margin-left: 25px;

      .logo {
        transition: 0.5s;

        &:hover {
          cursor: pointer;
          filter: brightness(0);
        }
      }
    }

    .loginContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .contentContainer {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        .title {
          font-size: 32px;
          font-weight: 600;
        }

        .info {
          color: var(--gray);
        }

        .googleButton {
          display: flex;
          padding: 8px 12px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          flex: 1 0 0;
          align-self: stretch;
          box-shadow: 0px 1.5px 4px -1px rgba(10, 9, 11, 0.07);
          border: 1px solid var(--border);
          border-radius: 7px;
          transition: 0.3s;

          &:hover {
            cursor: pointer;
            background: rgb(233, 233, 233);
          }
        }

        .orContainer {
          width: 100%;
          display: flex;
          align-items: center;

          .line {
            width: 100%;
            height: 1px;
            background: var(--line);
          }

          .or {
            padding: 0px 10px;
            color: var(--gray);
            font-size: 14px;
          }
        }

        .inputsContainer {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .emailInputError {
            outline: 1px solid #EA4335;
            border-radius: 8px;
          }

          .passwordInputError {
            outline: 1px solid #EA4335;
            border-radius: 8px;
          }

          .emailError {
            color: var(--red);
            position: absolute;
            margin-top: 40px;
            margin-left: 5px;
            font-size: 12px;
          }

          .passError {
            color: var(--red);
            position: absolute;
            margin-top: 103px;
            margin-left: 5px;
            font-size: 12px;
          }
        }

        .optionsContainer {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .remember {
            display: flex;
            gap: 10px;
            align-items: center;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 475;
            line-height: 22px;
            letter-spacing: -0.18px;

            .checkbox {
              margin-top: 5px;

              .HTMLinput {
                width: 15px;
                height: 15px;
              }
            }
          }

          .forgive {
            color: var(--blue);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 550;
            line-height: 20px;
            letter-spacing: -0.02px;
            transition: 0.3s;

            &:hover {
              cursor: pointer;
              color: black;
            }
          }
        }

        .loginButton {
          background: var(--blue);
          width: 100%;
          text-align: center;
          padding: 10px 0px;
          color: white;
          border-radius: 6px;
          transition: 0.3s;

          &:hover {
            cursor: pointer;
            filter: brightness(1.2);
          }
        }

        .registerCall {
          color: var(--gray);
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px;
          letter-spacing: -0.13px;

          :is(span) {
            color: var(--blue);
            cursor: pointer;
            font-size: 14px;
            font-style: normal;
            font-weight: 550;
            line-height: 20px;
            letter-spacing: -0.02px;
          }
        }
      }
    }

    .legalContainer {
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-around;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.05px;
      color: var(--gray);

      .policy {
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          font-size: 16px;
        }
      }
    }
  }

  .rightSide {
    width: 50%;
    background-image: url("../../../public/assets/images/pinkbluebg.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
