.container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F9F9F9;
  overflow: hidden;
  padding: 0px 60px;
  border-top: 1px solid #E9E9E9;

  .column {
    display: flex;
    gap: 20px;

    &:last-child {
      width: 170px;
      align-items: center;
    }

    

    .image {
      transition: 0.4s;

      &:hover {
        cursor: pointer;
        filter: brightness(0);
      }
    }

    .title {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      user-select: none;
    }

    .description {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      color: #637381;
      user-select: none;

      &:last-child {
        line-height: 24px;
      }
    }

    .socialContainer {
      display: flex;
      gap: 38px;

      .social {
        filter: grayscale(1);
        transition: 0.4s;

        &:hover {
          cursor: pointer;
          filter: grayscale(0);
        }
      }
    }

    .emailInput {
      width: 270px;
      height: 48px;
      display: flex;

      :is(input) {
        width: 80%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 1px solid #EEE;
        padding-left: 15px;
        font-family: 'Inter', sans-serif;
        outline: none;
      }

      .email {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background: var(--blue);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: 0.4s;

        &:hover {
          cursor: pointer;
          filter: brightness(0.9);
        }
      }
    }

    .registered {
      color: #637381;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      user-select: none;
      width: max-content;
    }

    .policy {
      width: max-content;
      color: #637381;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transition: 0.4s;

      &:hover {
        cursor: pointer;
        font-size: 16px;
        color: black;
      }
    }
  }

  .businessColumn {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 12px;

    .title {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: calc(35px - 12px);
      user-select: none;
    }

    .option {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      color: #637381;
      transition: 0.4s;

      &:hover {
        cursor: pointer;
        color: black;
        transform: scale(1.1);
      }
    }
  }
}