.container {
  width: 500px;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
  background: white;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}