.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: "Lexend", sans-serif;

  .sidebarContainer {
    z-index: 1;
  }

  .contentContainer {
    width: calc(100% - 230px);
    margin-left: 230px;
    display: flex;
    flex-direction: column;

    .separatorContainer {
      width: 100%;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .rowContainer {
        width: 100%;
        display: flex;
        gap: 20px;

        .salesGrid {
          width: 70%;
          display: flex;
          flex-wrap: wrap;
          gap: 20px;

          .salesCard {
            width: 540px;
            height: 110px;
            display: flex;
            justify-content: space-between;
            border-radius: 10px;
            border: 1px solid #e6e6e6;
            padding: 20px;
            align-items: center;

            .leftContainer {
              display: flex;
              flex-direction: column;
              gap: 6px;
              .title {
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }

              .value {
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 30px;
              }

              .increase {
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                :is(span) {
                  color: #21a335;
                  font-family: Lexend;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                }
              }
            }
          }
        }

        .generalCard { 
          width: 450px;
          height: 242px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          border-radius: 10px;
          border: 1px solid #E6E6E6;
          padding: 20px;

          .header {
            display: flex;
            justify-content: space-between;

            .info {
              display: flex;
              flex-direction: column;
              gap: 6px;

              .label {
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }

              .value {
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 30px;
              }
            }

            .button {
              cursor: pointer;
            }
          }

          .info {
            display: flex;
            flex-direction: column;
            gap: 6px;

            .label {
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }

            .value {
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: 30px;
            }
          }

          .buttons {
            display: flex;
            gap: 20px;

            .button {
              width: 220px;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              border-radius: 5px;
              background: #2C1DFE;
              padding: 8px 10px;

              color: #FFF;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;

              transition: 0.3s;

              &:hover {
                cursor: pointer;
                filter: brightness(0.85);
              }

              .icon {
                transform: translateY(3px);
              }
            }
          }
        }
      }

      .tableContainer {
        width: 100%;
        border: 1px solid #dbdbdb;
        border-radius: 8px;
        margin-top: 20px;
      }
    }
  }
}

.table {
  border-collapse: collapse;
  width: 100%;

  th {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 123.077% */
    letter-spacing: -0.02px;
  }

  td {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.02px;
  }

  .controlButtons {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;

    div {
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        filter: brightness(0);
      }
    }
  }
}

.table th,
.table td {
  text-align: left;
  padding: 10px 12px;
  border-bottom: 1px solid #dbdbdb;
  height: 50px;

  .img {
    transform: translateY(3px);
  }
}

.table th:last-child,
.table td:last-child {
  text-align: center;
}

.table button {
  cursor: pointer;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0px;

  .pagButton {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 8px;
    border: 1px solid #e6e6e6;
    outline: none;

    transition: 0.3s;

    &:hover {
      cursor: pointer;
      filter: brightness(0.9);
    }
  }

  .pageButton {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: none;
    outline: none;
    font-family: "Lexend", sans-serif;
    color: #7f7d83;
    cursor: pointer;
  }

  button:disabled {
    background: white;
  }

  .activePag {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: none;
    outline: none;
    font-family: "Lexend", sans-serif;
    color: #7f7d83;
    cursor: pointer;
    color: #2c1dfe;
  }

  .ellipsis {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 6px;
    background: #7f7d832d;
    outline: none;
    color: #7f7d83;
    margin-right: 10px;
  }
}
