.container {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  left: 0;
  z-index: 10;

  .fillContainer {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.534);
    animation: openbgAnimation ease-in 0.5s;
    z-index: 10;
  }

  .cartContainer {
    width: 400px;
    height: 100vh;
    background: white;
    padding: 35px;
    z-index: 10;
    animation: openAnimation ease-in 0.3s;

    @keyframes openAnimation {
      from {
        transform: translateX(400px);
      }

      to {
        transform: translateX(0px);
      }
    }

    .close {
      display: flex;
      justify-content: flex-end;

      .image {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .title {
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 35px;
    }

    .productsContainer {
      margin-top: 37px;
      display: flex;
      flex-direction: column;
    }

    .subtotal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      .totalPoints {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
      }
    }

    .buyButton {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 10px;
      align-items: center;
      margin-top: 20px;
      padding: 10px 0px;
      border-radius: 7px;
      background: var(--blue);
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.05px;
      line-height: 20px;
      color: white;
      transition: 0.3s;

      &:hover {
        filter: brightness(0.85);
        cursor: pointer;
      }
    }
  }
}

.popupContainer {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .popup {
    width: 500px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px rgba(10, 9, 11, 0.05), 0px 6px 16px 0px rgba(10, 9, 11, 0.08);
    padding: 25px;

    .titleAndClose {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;

      .title {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: -0.18px;
      }

      .close {
        cursor: pointer;
      }
    }

    .description {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.05px;
      color: var(--gray);
    }

    .subtotal {
      display: flex;
      justify-content: flex-end;
      margin: 16px 0px;

      .totalPoints {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
      }
    }

    .buttonsContainer {
      width: 100%;
      display: flex;
      gap: 12px;

      .cancel {
        width: 50%;
        box-shadow: 0px 1.5px 4px -1px rgba(10, 9, 11, 0.07);
        border-radius: 6px;
        border: 1px solid #E6E6E6;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 475;
        line-height: 20px;
        letter-spacing: -0.05px;
        padding: 10px 0px;
        color: #4F4D55;
        transition: 0.3s;

        &:hover {
          cursor: pointer;
          filter: brightness(0.8);
        }
      }

      .confirm {
        width: 50%;
        box-shadow: 0px 1.5px 4px -1px rgba(10, 9, 11, 0.07);
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 475;
        line-height: 20px;
        letter-spacing: -0.05px;
        padding: 10px 0px;
        color: white;
        background: var(--blue);
        transition: 0.3s;

        &:hover {
          cursor: pointer;
          filter: brightness(0.9);
        }
      }
    }
  }
}