.container {
  width: 260px;
  height: 415px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--border);
  border-radius: 8px;
  background: white;
  box-shadow: 0px 3px 7px -5px rgba(0, 0, 0, 0.15),
    0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  z-index: 0;

  .productImage {
    position: relative;
    max-width: 258px;
    max-height: 250px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .infoContainer {
    height: 145px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 10px 0px 10px;

    .productName {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }

    .productInfo {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .points {
        display: flex;
        gap: 20px;
        align-items: center;

        .value {
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;

          :is(span) {
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
          }
        }

        .discountValue {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          color: #637381;
          text-decoration: line-through;
        }

        .couponValue {
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          margin-left: -15px;

          :is(span) {
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
          }
        }
      }

      .description {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.05px;
      }

      .starsAndBuy {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .stars {
          display: flex;
          font-size: 10px;
          font-style: normal;
          font-weight: 475;
          line-height: 20px; /* 200% */
          letter-spacing: -0.05px;
        }

        .buy {
          display: flex;
          justify-content: center;
          align-items: center;
          background: var(--blue);
          padding: 8px;
          border-radius: 7px;
          transition: 0.4s;

          &:hover {
            cursor: pointer;
            filter: brightness(0.8);
          }
        }
      }
    }
  }
}